*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid red; */
}

body{
    background-color: cadetblue;
}

.header header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.content{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    flex-wrap: wrap;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.20);
}

.content input{
    width: 190px;
    margin: 10px 10px;
    flex-direction: row;
    color: black;
    font-size: 20px;
    height: 26px;
}

.content .inputs input, .content .inputs label{
    margin-left: 0;
    font-weight: bold;
    font-size: 20px;
}

.content select{
    margin: 10px;
    width: 220px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    transition: all 0.5s;
}

.content form{
    flex-wrap: wrap;
    flex-direction: row;
}

/* .content form select{
    width: 90%;
} */

@media (max-width: 432px) {
    .content, .content form{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.content .buttons1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.content .buttons2{
    display: flex;
    margin-top: 5px;
    width: 100%;
}

.content .buttons2 label{
    display: flex;
    justify-content: end;
    margin-right: 5px;
    font-weight: bold;
}

.content .buttons2 label, .content .buttons2 a{
    font-size: 20px;
    width: calc(95% - 3rem);
}

.content .buttons1 button, .content .buttons2 button{
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: cadetblue;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    transition: all 0.3s;
    box-shadow: 4px 4px 60px rgb(0 0 0 / 5%);
}

.content .buttons2 button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .buttons2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .total{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.content .buttons1 button:hover, .content .buttons2 button:hover{
    border-color: cadetblue;
    background-color: rgb(255, 255, 93);
    color: black;
    cursor: pointer;
    box-shadow: 0px 2px 2px cadetblue;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .registros{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 10px;
    
    margin-top: 5px;
}

.content .registros h2{
    display: flex;
    text-align: center;
    justify-content: center;
}

.content .registros ul{
    list-style: none;
    padding: 0;
    width: 95%;
    margin-top: 5px;
}