*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    
    background-color: cadetblue;
}

.content{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.content input{
    width: 37%;
    margin: 10px 10px;
}

.content select{
    margin: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}